<div class="fao-u-1 fao-u-md-1-3 fao-box--flat mb4">
    <article class="publication-teaser-related h-100">
        <a
            class="publication-teaser-related__link"
            data-dojo-attach-point="itemLink"
            target="_blank"
        >
            <div
                class="publication-teaser-related__cover"
                data-dojo-attach-point="itemImageContainer"
            >
                <img data-dojo-attach-point="itemImage" />
            </div>
            <div class="publication-teaser-related__text pt1 pb1">
                <span class="db mt2 mb1 fs6 c-primary">
                    <time data-dojo-attach-point="itemTime"></time>
                </span>
                <h3
                    class="db lh-heading fs5"
                    data-dojo-attach-point="itemTitle"
                    style="color: rgb(3, 30, 50)"
                ></h3>
            </div>
        </a>
    </article>

    <!--

<div class="fao-u-1 fao-u-md-1-3 fao-box--flat mb4">
    <article class="publication-teaser-related h-100">
        <a
            class="publication-teaser-related__link"
            href="https://data-in-emergencies-hqfao.hub.arcgis.com/search?groupIds=ab8a43038b6347ac93507988f7e2a90b"
        >
            <div class="publication-teaser-related__cover">
                <img
                    src="https://services5.arcgis.com/sjP4Ugu5s0dZWLjd/arcgis/rest/services/HubCountriesApp/FeatureServer/0/1/attachments/2"
                    alt="UNHAS Flash Appeal February 2021"
                />
            </div>
            <div class="publication-teaser-related__text pt1 pb1">
                <span class="db mt2 mb1 fs6 c-primary">
                    <time datetime="2021-02-19T12:00:00Z"
                        >19 February 2021</time
                    >
                </span>
                <h3 class="db lh-heading fs5">
                    UNHAS Flash Appeal February 2021
                </h3>
            </div>
        </a>
    </article>
</div>

--></div>
