<div class="results-gallery-container">
    <div class="gallery-title" data-dojo-attach-point="titleHeader">
        <div><span class="esri-icon-minus" data-dojo-attach-point="expanderIcon"></span></div>
        <span class="avenir-demi font-size--2"
            >&nbsp;Search Results (<span
                data-dojo-attach-point="resultCountContainer"
            ></span
            >)</span
        >
        <div class="title-rule"></div>
    </div>
    <div
        class="results-gallery"
        data-dojo-attach-point="resultsContainer"
    ></div>
</div>
