<div class="result-card">
    <figure class="card-image-wrap">
        <img class="card-image" data-dojo-attach-point="cardImage" />
    </figure>
    <div class="card-content">
        <div>
            <div class="title" data-dojo-attach-point="titleDiv">
                <a target="_blank" data-dojo-attach-point="titleLink"></a>
            </div>
            <p class="description" data-dojo-attach-point="descriptionP"></p>
        </div>
        <div class="interaction-container">
            <div class="btn" data-dojo-attach-point="metadataBtn">Metadata</div>
            <div class="btn viewBtn" data-dojo-attach-point="viewBtn">View</div>
        </div>
    </div>
</div>
